* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #707FD4;
}

header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1300px;
  margin: 0 auto;
}

header .menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu .menu-list {
  font-family: 'Nokora', sans-serif;
  color: #fff;
  font-size: 24px;
  margin-left: 40px;
}

header .menu .menu-list a {
  text-decoration: none;
  color: #fff;
}

.logo {
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-us {
    text-align: center;
    font-family: "Nokora",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 57px;
}
.about-us-section {
    width: 1050px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.about-us-img {
    width: 408px;
    height: 408px;
}
.about-us-p {
    font-family: "Nokora", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}
.coj-color {
    color: rgba(0, 130, 200, 1);
} 

.logo h2 {
  font-family: 'Nokora', sans-serif;
}

.Golovna .text {
  font-family: 'Nokora', sans-serif;
  font-size: 64px;
}

.Golovna .text p {
  color: #3475FE;
}

.Golovna .text2 {
  font-family: 'Nokora', sans-serif;
  font-weight: 700;
  width: 432px;
  font-size: 36px;
}

.Golovna .btn {
  background: -webkit-gradient(linear, left top, right top, from(#667DB6), color-stop(29.87%, #0082C8), color-stop(71.23%, #0082C8), to(#667DB6));
  background: linear-gradient(90deg, #667DB6 0%, #0082C8 29.87%, #0082C8 71.23%, #667DB6 100%);
  border-radius: 10px;
  width: 370px;
  color: #fff;
  text-align: center;
  padding: 30px;
  margin-top: 30px;
}

.Golovna .btn h2 {
  font-family: 'Nokora', sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.Golovna .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1300px;
  margin: 0 auto;
  padding-top: 30px;
}
.materials-img {
    width: 100px;
    height: 100px;
}

.materials-item {
    display: flex;
    justify-content: space-around;
}

.section-name {
    text-align: center;
    font-family: "Nokora", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 57px;
}

#material-slider {
    width: 750px;
    position: relative;
    height: 130px;
    margin: 0 auto;
}

.slick-initialized .slick-slide {
    display: flex;
}

.slick-arrow {
    padding: auto 10px;
    position: absolute;
    font-family: "Nokora", sans-serif;
    top: 40%;
    transform: translateY(-50%);
    border: none;
    border-radius: 100%;
    background-color: rgba(8, 8, 8, 0.534);
    width: 40px;
    height: 40px;
    color: white;
    font-size: 35px;
    z-index: 8;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}
